@model ThePerfectBatch.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeTypeId" class="control-label"></label>
                <select asp-for="RecipeTypeId" class="form-control" asp-items="ViewBag.RecipeTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" id="ingredient-label"></label>
                <input asp-for="Name" class="form-control" id="ingredient-input"/>
                <span asp-validation-for="Name" class="text-danger" id="ingredient-span"></span>
            </div>
            <div class="form-row">
                @for (var i = 0; i < Model.Ingredients.Count; i++)
                {
                    <div class="form-group ingredient-item" style="display: flex; flex-direction: row;">       
                        <label asp-for="Ingredients[i].Name" class="control-label" id="name-label"></label>
                        <input asp-for="Ingredients[i].Name" class="form-control" id="name-input" style="margin-right: 15px; "/>
                        <span asp-validation-for="Ingredients[i].Name" class="text-danger" id="name-span"></span>
                        <label asp-for="Ingredients[i].Quantity" class="control-label" id="quantity-label"></label>
                        <input asp-for="Ingredients[i].Quantity" class="form-control" id="quantity-input"/>
                        <span asp-validation-for="Ingredients[i].Quantity" class="text-danger" id="quantity-span"></span>
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload an image of your recipe here:</p>
                    <input type="file" name="file" id="file"/>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Add Ingredient" class="btn btn-default" id="add-ingredient"/>
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
