@model ThePerfectBatch.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                @for (var i = 0; i < Model.Ingredients.Count; i++)
                {
                <div class="form-group" style="display: flex; flex-direction: row;">
                    <label asp-for="Ingredients[i].Name" class="control-label"></label>
                    <input asp-for="Ingredients[i].Name" class="form-control" style="margin-right: 15px; " />
                    <span asp-validation-for="Ingredients[i].Name" class="text-danger"></span>
                    <label asp-for="Ingredients[i].Quantity" class="control-label"></label>
                    <input asp-for="Ingredients[i].Quantity" class="form-control" />
                    <span asp-validation-for="Ingredients[i].Quantity" class="text-danger"></span>
                    <input type="hidden" asp-for="Ingredients[i].IngredientId" />
                    <input type="hidden" asp-for="Ingredients[i].RecipeId" />
                    <input type="hidden" asp-for="RecipeTypeId" />
                    <input type="hidden" asp-for="Image" />
                </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }
